.navbar-light .navbar-nav .nav-link
{
    color: var(--secondary-color);
    
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: var(--primary, #000);
    background-color: #B1B1B1;
    
}

.container-fluid{
    background-color: #F2BB13;
}




