/*Boton*/

button {
    background-color: #B1B1B1;
    color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 15px
    ;
  }
  
  button:hover {
    background-color: #F2BB13;
  }