<div class="container mt-5 mb-5">
    <h1>Agregar nuevo alquiler</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <p>Título de publicación</p>
                <input type="text" class="form-control" placeholder="Ingresar título de la publicación" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <p>Descripción</p>
                <input type="text" class="form-control" placeholder="Ingresar descripción de la oferta" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <p>N° de habitaciones</p>
                <input type="text" class="form-control" placeholder="Ingresar el N° de habitaciones" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <p>N° de baños</p>
                <input type="text" class="form-control" placeholder="Ingresar el N° de baños" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <p>N° de contacto</p>
                <input type="text" class="form-control" placeholder="Ingresar el N° de contacto" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <p>¿Se aceptaran mascotas?</p>
                <input type="text" class="form-control" placeholder="¿Mascotas? SI/NO" >
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Publicar</button>
            </div>
            


        </div>
    </form>
</div>